body 
{	
	background: #202020 url(../Images/blackorchid.png) repeat fixed 0 0;
	color: #DDDDDD;
	overflow: hidden;
	margin: 0;
	font-size: 14pt;
}

.header
{
	position: fixed;
	top: 0;
	width: 100%;	
	background: #111111;
	height: 60px;
}

.headerTitle
{
	display: block;
	float: left;
	font-size: 20pt;
	font-family: 'Trade Winds', cursive;
	border-right: 3px solid #999999;
	text-decoration: none;
	padding: 10px;
	margin-right: 20px;
	color: #999999;
	z-index: 99;
}

.headerTitle:visited
{
	color:#999999;
}

.headerTitle:hover
{
	color: #DDDDDD;
}

.navListItem
{
	float: left;
	width: auto;
	height: 100%;
	margin: 0px 10px;
	text-align: center;
	text-decoration: none;
	line-height: 60px;
	padding: 0px 10px;
	font-family: 'Trade Winds', cursive;
	font-size: 14pt;
	color: #999999;
}

.navListItem:hover
{
	background: #222222;
	color: #DDDDDD;
}

.navListItem:visited
{
	color: #999999;
}

.linksBox
{
	float: right;
	width: auto;
	height: 60px;
	margin: 0px 10px;
}

.linkedIn
{
	background-image: url(../Images/linkedInLogo30Off.png);
	line-height: 60px;
	vertical-align: middle;
	height: 25px;
	width: 30px;
	display: block;
	margin: 17px 5px;
}

.linkedIn:hover
{
	background-image: url(../Images/linkedInLogo30On.png);
}

#content
{
	width: 100%;
	margin-top: 60px;
	height: auto;
}

.footer
{
	width: 101%;
	border-top: 2px solid #FF8E00;
	background: #111111;
}