body 
{	
	background: #202020 url(../Images/blackorchid.png) repeat fixed 0 0;
	color: #DDDDDD;
	overflow: hidden;
	margin: 0;
	font-size: 14pt;
}

#content
{
	width: 100%;
	margin-top: 60px;
	height: auto;
	padding: 20px;
}

.myPicBox
{
	margin-right: 10px;
	width: 15%;
	float: left;
}

.myPicBox img 
{
	max-width: 100%;
	max-height: 100%;
	min-width: 100px;
	min-height: 100px;
}

.introBox
{
	float: left;
	margin: 0px 10px 0px 0px;
	background-color: rgba(10, 10, 10, 0.5);
	width: 45%;
	color: #CCCCCC;
	font-size: 14pt;
	padding: 10px;
}

.introBox h1
{
	font-size: 18pt;
	font-family: 'Trade Winds', cursive;
	text-align: center;
	margin: 2px 0px;
	color: #FFFFFF;
}

.introBox p 
{
	text-indent: 20px;
}

.contactBox
{
	background-color: rgba(10, 10, 10, 0.5);
	width: 80%;
	color: #CCCCCC;
	font-size: 14pt;
	padding: 10px;
	text-align: center;
	margin: 0px auto;
}

.contactBox h1
{
	font-size: 18pt;
	font-family: 'Trade Winds', cursive;
	text-align: center;
	margin: 2px 0px;
	color: #FFFFFF;
}

/* Header and footer CSS */ 

.header
{
	position: fixed;
	top: 0;
	width: 100%;	
	background-color: rgba(10, 10, 10, 0.5);
	height: 60px;
}

.headerTitle
{
	display: block;
	float: left;
	font-size: 20pt;
	font-family: 'Trade Winds', cursive;
	border-right: 3px solid #49A9BC;
	text-decoration: none;
	padding: 10px;
	margin-right: 20px;
	color: #49A9BC;
	z-index: 99;
}

.headerTitle:visited
{
	color: #49A9BC;
}

.headerTitle:hover
{
	color: #8EE5E2;
}

.navListItem
{
	float: left;
	width: auto;
	height: 100%;
	margin: 0px 10px;
	text-align: center;
	text-decoration: none;
	line-height: 60px;
	padding: 0px 10px;
	font-family: 'Trade Winds', cursive;
	font-size: 14pt;
	color: #49A9BC;
}

.navListItem:visited
{
	color: #49A9BC;
}

.navListItem:hover
{
	background: #222222;
	color: #8EE5E2;
}

.linksBox
{
	float: right;
	width: auto;
	height: 60px;
	margin: 0px 10px;
}

.linkedIn
{
	background: #444444 url(../Images/linkedInLogo.png) no-repeat;
	line-height: 60px;
	vertical-align: middle;
	height: 30px;
	width: 30px;
	border: 1px solid #444444;
	border-radius: 50%;
	-moz-border-radius: 50%;
	display: block;
	margin: 15px 5px;
}

.linkedIn:hover
{
	background: #007bb6 url(../Images/linkedInLogo.png) ;
}

.footer
{
	position: fixed;
	bottom: 0;
	width: 100%;	
	background-color: rgba(10, 10, 10, 0.5);
	height: 60px;
}

.footerTitle
{
	display: block;
	float: left;
	font-size: 20pt;
	font-family: 'Trade Winds', cursive;
	text-decoration: none;
	padding: 10px;
	margin-right: 10px;
	color: #999999;
	z-index: 100;
}

.footerTitle:visited
{
	color:#999999;
}

.footerTitle:hover
{
	color: #DDDDDD;
}

.footerListItem
{
	float: left;
	width: auto;
	height: 100%;
	margin: 0px 10px;
	text-align: center;
	text-decoration: none;
	line-height: 60px;
	padding: 0px 10px;
	font-family: 'Trade Winds', cursive;
	font-size: 14pt;
	color: #999999;
}

.footerListItem:hover
{
	color: #DDDDDD;
}
